<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: commonHead"></head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div th:insert="fragment/humberger :: commonHumberger"></div>
    <header th:replace="fragment/header :: commonHeader"></header>
    <section th:replace="fragment/hero :: commonHero"></section>
    <section th:replace="fragment/breadcrumb :: commonBreadCrumb('Sign up', 'sign up', 'Home')"></section>

<!-- 
    Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Sign Up</h4>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input id="email" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__input">
                                    <p>Name<span>*</span></p>
                                    <input id="name" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__input">
                                    <p>Password<span>*</span></p>
                                    <input id="password" type="password" />
                                </div>
                            </div>
                        </div>
                        <p class="checkout__input__description">8 ~ 20자의 영문 대/소문자, 숫자, 특수문자를 사용하세요.</p>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__input">
                                    <p>Confirm Password<span>*</span></p>
                                    <input id="confirmPassword" type="password" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="site-btn col-lg-12 col-md-12" onclick="signup()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <body th:insert="fragment/body :: commonBody"></body>
    <footer th:replace="fragment/footer :: commonFooter"></footer>
</body>
<script>
    function signup() {
        const params = new URLSearchParams();
        params.append("email", $("#email").val());
        params.append("name", $("#name").val());
        params.append("password", $("#password").val());
        params.append("confirmPassword", $("#confirmPassword").val());

        axios.post('/user/v1/signup', params)
            .then(response => {
                alert(response.data.message);
            })
            .catch(error => {
                alert(error.response.data.message);
            });
    }
</script>
</html>