<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
    </head>
    <body>
        <div>
            <p>
                Welcome !<br>
                Thank you for creating your Tmon Account<br>
                To complete your registration, click the link below<br>
                <a th:href="@{http://localhost:8080/user/complete-signup(email=${email}, key=${key})}">
                <!--<a th:href="@{${href}(email=${email}, key=${key})}">-->
                    Click link
                </a><br>
                Clone-tmon Team<br>
            </p>
        </div>
    </body>
</html>
